h3 {
  color: #f24336e7;
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
}

label {
  font-size: 55%;
  letter-spacing: 1px;
  color: #262322;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  display: block;
}

input {
  padding: 8px 200px 8px 5px;
  margin-bottom: 15px;
  border: solid;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: rgb(206 205 205 / 54.8%);
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiring {
  padding: 8px 120px;
  margin-bottom: 8px;
  background-color: rgb(237 236 236 / 57.8%);
  border-radius: 5px;
  align-items: left;
}

#button {
  background-color: #f24336e7;
  color: white;
  text-transform: uppercase;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  border: none;
  margin-left: 250px;
}

input::placeholder {
  padding-left: 5px;
}
